<div id="page">

  <%= form_for [:user,@challenge], :html => {id: "create"} do |f| %>
  <ul>
    <li>
      <%= f.label :title, "Title"%>
      <%= f.text_field :title %>
    </li>
    <%= fields_for @user do |u| %>
        <li>
          <%= u.label :username, "Challengee Username"%>
          <%= u.text_field :username %>
        </li>
    <% end %>
    <li>
      <%= f.label :terms, "Terms"%>
      <%= f.text_area :terms, size: "30x5" %>
    </li>
    <li>
      <%= f.label :reward, "Reward"%>
      <%= f.text_field :reward %>
    </li>
    <li>
      <%= f.label :end_date, "End Date"%>
      <%= f.date_field :end_date %>
    </li>
    <li><%= f.submit "Send Challenge", id: "button_style2" %></li>
  </ul>
  <% end %>

  <div id="challenges">
    <h3>Challenges Created</h3>
    <table>
     <tr><th>Challenge Title</th><th>End Date</th><th>Challengee</th><th>Status</th><th>Winner</th></tr>
    <% @challenges_created.each do |challenge| %>
        <tr><td><%=link_to challenge.title, challenge_path(challenge)%></td><td><%=challenge.end_date%></td><td><%=challenge.challengee.username%></td><td><%=challenge.status.condition%></td><td><%=challenge.winner.username unless challenge.winner.nil?%></td></tr>
      <% end %>
    </table>
    <h3>Challenges Received</h3>
    <table>
      <tr><th>Challenge Title</th><th>End Date</th><th>Challenger</th><th>Status</th><th>Winner</th></tr>
      <% @challenges_received.each do |challenge| %>
        <tr><td><%=link_to challenge.title, challenge_path(challenge)%></td><td><%=challenge.end_date%></td><td><%=challenge.challenger.username%></td><td><%=challenge.status.condition%></td><td><%=challenge.winner.username unless challenge.winner.nil?%></td></tr>
      <% end %>
    </table>
  </div>

</div>
