<%= form_for [:user,@challenge] do |f| %>
<ul>
  <li><%= f.text_field :title %></li>
  <li><%= f.text_area :terms, size: "30x5" %></li>
  <li><%= f.text_field :reward %></li>
  <li><%= f.datetime_field :end_date %></li>
  <%= f.submit "Send Challenge"%>
</ul>
<% end %>
<h3>Challenges Created</h3>
<table>
 <tr><th>Challenge Title</th><th>End Date</th><th>Challengee</th><th>Status</th><th>Winner</th></tr>
<% @challenges_created.each do |challenge| %>
    <tr><td><%=challenge.title%></td><td><%=challenge.end_date%></td><td><%=challenge.challengee.username%></td><td><%=challenge.status.condition%></td><td><%=challenge.winner.username unless challenge.winner.nil?%></td></tr>
  <% end %>
</table>
<h3>Challenges Received</h3>
<table>
  <tr><th>Challenge Title</th><th>End Date</th><th>Challenger</th><th>Status</th><th>Winner</th></tr>
  <% @challenges_received.each do |challenge| %>
    <tr><td><%=challenge.title%></td><td><%=challenge.end_date%></td><td><%=challenge.challenger.username%></td><td><%=challenge.status.condition%></td><td><%=challenge.winner.username unless challenge.winner.nil?%></td></tr>
  <% end %>
</table>
