<div id="page">
	<div id="display">
		<h3><%=@challenge.title.capitalize%></h3>
		<h5>Reward: <%=@challenge.reward%></h5>
		<h5>End Date: <%=date_display(@challenge.end_date)%></h5>
		<h4><%=@challenge.challenger.username%> vs <%=@challenge.challengee.username%></h4>
		<h5>Status: <%=@challenge.status.condition%></h5>
		<% if @challenge.winner %>
		  <h5>Winner: <%=@challenge.winner.username%></h5>
		<% end %>
		<h5>Terms</h5>
		<h5><%=@challenge.terms%></h5>
	</div>
	<div id="options">
		<% if @current_user.id == @challenge.challengee_id && @challenge.status.condition == "Pending"%>
		  <%= button_to 'Sir (or Lady), I do declare that I shall meet those terms.', {:controller => "challenges", :action => "update", :status_id => 2}, :method=>:put, class: "button_style3"%>
		  <%= button_to 'Your wager is beneath me.', {:controller => "challenges", :action => "update", :status_id => 3}, :method=>:put, class: "button_style3"%>
		<% elsif @current_user.id == @challenge.challenger_id && @challenge.status.condition == "Accepted" && @challenge.winner_id.nil? || @current_user.id == @challenge.challengee_id && @challenge.status.condition == "Accepted" && @challenge.winner_id.nil?%>
		  <%= button_to 'Concede', {:controller => "challenges", :action => "update", :concede => "Y"}, :method=>:put,class: "button_style3"  %>
		<% elsif @current_user.id %>
		  <%=link_to "Issue a Challenge", user_challenges_path(@current_user)%>
		<% end %>
	</div>
</div>
